name: Deploy samueltim.com

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install deps
        run: npm ci

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/samueltim-portfolio:latest

      - name: Deploy to K3s via
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            export KUBECONFIG=/home/sti/.kube/config
            # 1. Image setzen (wie bisher)
            kubectl set image deployment/samueltim-frontend samueltim-frontend=${{ secrets.DOCKER_USERNAME }}/samueltim-portfolio:latest -n tradingapp
            
            # 2. WICHTIG: Einen Neustart erzwingen, damit das Image neu gepullt wird
            kubectl rollout restart deployment/samueltim-frontend -n tradingapp
            
            # 3. Rollout beobachten
            kubectl rollout status deployment/samueltim-frontend -n tradingapp
